<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
{% extends 'base.html'%}
{% block content %}


<div class="container-fluid">
    <div class="row">
{% include 'dashboard/sidebar.html' %}


        <main class="col-md-10 bg-light p-4">
            <a href="{% url 'add_new_blog' %}" class="btn btn-dark text-light float-right">Add New Blog</a>
            <h2>All Blogs</h2>


            <div class="row">
               <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Sl No</th>
                          <th>Blog Title</th>
                          <th>Category</th>
                          <th>Author</th>
                          <th>Status</th>
                          <th>Created at</th>
                          <th>Featured</th>
                          <th> Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for blog in all_blogs %}
                        <tr>
                          <td >{{forloop.counter}}</td>
                          <td>{{blog.title}}</td>
                          <td>{{blog.category}}</td>
                          <td>{{blog.author}}</td>
                          <td>{% if blog.status == 1 %} <span class="text-success">Published</span> {% else %} <span class="text-warning">Draft</span> {% endif %}</td>
                          <td>{{blog.created_at}}</td>
                          <td>{% if blog.is_featured %} <i class="fa-solid fa-check text-success"></i> {%else%}<i class="fa-solid fa-times text-danger"></i>{%endif%}</td>
                          <td>
                              <div class="d-flex gap-1">
                                  <a href="{% url 'edit_blog' blog.id %}" class="btn btn-warning btn-sm mr-3">Edit</a>
                                  <a href="{% url 'delete_blog' blog.id %}" class="btn btn-danger btn-sm">Delete</a>
                              </div>
                          </td>

                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
            </div>

        </main>

    </div>
</div>

{% endblock %}
</body>
</html>