<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html'%}
{% block content %}


<div class="container-fluid">
    <div class="row">
{% include 'dashboard/sidebar.html' %}


        <main class="col-md-10 bg-light p-4">
            <a href="{% url 'add_user' %}" class="btn btn-dark text-light float-right">Add new user</a>
            <h2>Users</h2>




            <div class="row">


                   <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Sl No</th>
                          <th>Username</th>
                          <th>Email</th>
                          <th>Staff</th>
                          <th>Superuser</th>
                          <th>Active</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in all_user %}
                        <tr>
                          <td >{{forloop.counter}}</td>
                          <td>{{user.username}}</td>
                          <td>{{user.email}}</td>
                          <td>{% if user.is_staff %}<i class="fa-solid fa-check text-success"></i> {%else%}<i class="fa-solid fa-times text-danger"></i>{%endif%}</td>
                          <td>{% if user.is_superuser %}<i class="fa-solid fa-check text-success"></i> {%else%}<i class="fa-solid fa-times text-danger"></i>{%endif%}</td>
                          <td>{% if user.is_active %}<i class="fa-solid fa-check text-success"></i> {%else%}<i class="fa-solid fa-times text-danger"></i>{%endif%}</td>

                          <td>
                              <div class="d-flex gap-1">
                                  <a href="{% url 'edit_user' user.id %} " class="btn btn-warning btn-sm mr-3">Edit</a>
                                  <a href="" class="btn btn-danger btn-sm">Delete</a>
                              </div>
                          </td>
                        </tr>

                    {% endfor %}
                      </tbody>
                    </table>



                </div>


        </main>

    </div>
</div>

{% endblock %}
</body>
</html>